.assess-list-evaluation-card {
  position: relative;
  margin: 0 0 30px;
  padding: 30px 30px 20px 30px;
  background: #FFFFFF;
  box-shadow: 0 2px 10px 0 rgba(0,0,0,0.02);
  border-radius: 16px;
  &-image {
    position: absolute;
    left: 30px;
    top: 30px;
    width: 60px;
    height: 82px;
    border-radius: 8px;
    border: 1px solid rgba(0,0,0,0.08);
  }

  &-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 14px;
    margin-top: 6px;
    padding-left: 80px;
    box-sizing: border-box;

    &-left {
      display: flex;
      align-items: center;
      font-weight: 500;
      font-family: PingFangSC-Medium;
      font-size: 34px;
      color: #333333;
      line-height: 34px;
      &-name {
        display: inline-block;
        max-width: 306px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 34px;
      }
      .name-arrow {
        width: 12px;
        height: 24px;
        margin-left: 10px;
      }
    }

    &-right {
      font-weight: 400;
      font-family: PingFangSC-Regular;
      font-size: 24px;
      color: #999999;
      text-align: right;
      line-height: 24px;
    }
  }

  &-status {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 26px;
    padding-left: 80px;
    box-sizing: border-box;

    &-left {
      display: flex;
      font-weight: 400;
      font-family: PingFangSC-Regular;
      font-size: 24px;
      color: #333333;
      line-height: 24px;
      &-initiator {
        font-weight: 600;
        font-family: PingFangSC-Semibold;
      }
      &-span {
        width: 64px;
        text-align: center;
      }
      &-type {
        font-weight: 600;
        font-family: PingFangSC-Semibold;
      }
    }

    &-right {
      font-weight: 400;
      font-family: PingFangSC-Regular;
      font-size: 24px;
      color: #CCCCCC;
      text-align: right;
      line-height: 24px;
      .normal-text {
        color: #333333 !important;
      }
    }
  }

  &-info {
    background: #F8F8F8;
    border-radius: 10px;
    padding: 10px;
    &-title {
      font-weight: 400;
      font-family: PingFangSC-Regular;
      font-size: 28px;
      color: #333333;
      line-height: 28px;
      padding: 10px 0;
    }

    &-detail {
      display: flex;
      padding: 20px;
      &-grid {
        flex: 0 0 33.3%;
        min-width: 210px;
        &-title {
          font-weight: 400;
          font-family: PingFangSC-Regular;
          font-size: 24px;
          color: #999999;
          line-height: 24px;

          margin-bottom: 10px;
        }

        &-content {
          font-weight: 400;
          font-family: PingFangSC-Regular;
          font-size: 24px;
          color: #333333;
          line-height: 46px;
          &-value {
            font-family: MaoYanHeiTi-H1;
            font-size: 36px;
          }
        }
      }
    }
  }

  &-action {
    margin: 20px 0;
    display: flex;
    justify-content: flex-end;
    &-btn {
      width: auto!important;
      margin: 0 0 0 20px!important;
      background-color: #fff;
      font-weight: 400;
      font-family: PingFangSC-Regular;
      font-size: 26px;
      color: #333333;
      text-align: center;
      line-height: 24px;

      border: 1PX solid #CCCCCC;
      border-radius: 40px;
      padding: 21px 24px 19px 24px;
    }

    &-btn-eval {
      color: #276FF0;
      border: 1PX solid #276FF0;
    }
  }
}

.no-eval-data {
  text-align: center;
  image {
    margin-top: 90px;
    width: 416px;
    height: 220px;
  }
  .text {
    font-weight: 400;
    font-family: PingFangSC-Regular;
    font-size: 28px;
    color: #333333;
  }
}