.schedule-list {
  display: flex;
  padding: 0 10px;
  box-sizing: border-box;
  .schedule-item {
    width: 158px;
    height: 80px;
    line-height: 78px;
    background: #F8F8F8;
    border-radius: 10px;
    font-weight: 400;
    font-family: PingFangSC-Regular;
    font-size: 26px;
    border: 1px solid #ffffff;
    color: #333333;
    margin-right: 20px;
    text-align: center;
    box-sizing: border-box;
  }
  .schedule-item:last-child {
    margin-right: 0;
  }
  .active {
    background: rgba(39,111,240,0.10);
    // border: 1px solid #276FF0 !important;
    line-height: 78px;
    color: #276FF0;
    box-sizing: border-box;
  }
}

.data-selected {
  height: 60px;
  box-sizing: border-box;
}
.date-box {
  margin-top: 40px;
  margin-bottom: 194px;
  width: 100%;
  height: 330px;
  padding: 0 30px;
  // position: relative;
  // left: -30px;
  font-size: 40px;
  box-sizing: border-box;
}
.date-show {
  height: 162px;
  border-top: 1px solid #E5E5E5;
  position: relative;
  text-align: center;
  padding: 46px 10px 0;
  margin: 40px 10px 0;
  color: #333;
  box-sizing: border-box;
}
.date-show .left, .right {
  font-family: MaoYanHeiTi-H1;
}

.date-show .detail {
font-size: 46px;
line-height: 46px;
/* font-weight: 500; */
font-weight: bold;
}

.date-show .left .week {
float: left;
}

.date-show .right .week {
float: right;
}

.date-show .week {
font-weight: 400;
font-size: 24px;
line-height: 36px;
margin-top: 10px;
}
.date-show .text {
  width: 24px;
  height: 36px;
  margin: 0 auto;
}

.date-show view.active {
color: #1791FF;
border-bottom: 2px solid #1791FF;
}

.date-show .left {
position: absolute;
left: 0;
top: 0;
padding-top: 40px;
width: 320px;
border-bottom: 2px solid #E5E5E5;
height: 122px;
text-align: left;
}

.date-show .right {
position: absolute;
right: 0;
top: 0;
width: 320px;
padding-top: 40px;
border-bottom: 2px solid #E5E5E5;
height: 122px;
text-align: right;
}
.releaseTime-submit{
  position: absolute;
  bottom: 0;
  left:0;
  width: 100%;
  height: 164px;
  padding: 0 30px;
  box-sizing: border-box;
  background: #FFFFFF;
  box-shadow: 0 -2px 20px 0 rgba(0,0,0,0.05);
  &-btn {
    width: 100%;
    height: 80px;
    margin-top: 16px;
    text-align: center;
    background: #276FF0;
    border-radius: 40px;
    line-height: 80px;
    font-weight: 600;
    font-family: PingFangSC-Semibold;
    font-size: 30px;
    color: #FFFFFF;
  }
}