.reference-conditions{
  padding: 0 30px;

  .h2{
    position: relative;
    margin-bottom: 30px;

    .modify-btn{
      font-weight: 400;
      font-family: PingFangSC-Regular;
      font-size: 24px;
      color: #276FF0;
      line-height: 40px;
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  .conditions{
    margin-bottom: 60px;

    .detail{
      position: relative;
      font-weight: 400;
      font-family: PingFangSC-Regular;
      font-size: 28px;
      color: #999999;
      line-height: 40px;
      margin-bottom: 20px;
      padding-left: 142px;

      .title{
        position: absolute;
        top: 0;
        left: 0;

      }

      .cont{
        font-weight: 300;
        font-family: MaoYanHeiTi-H1;
        font-size: 28px;
        color: #333333;
      }
    }
  }
}


/**
* 弹窗
*/
@mixin arrow() {
  width: 12px;
  height: 24px;
  display: inline-block;
  background-image: url('../../../static/detail/gray.png');
  background-size: 12px 24px;
  position: absolute;
  right: 0;
  top: 42px;
}

.conditions-modal{
  .at-float-layout__container{
    padding: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    max-height: 100vh;
  }
}

.layout-body,.layout-page-body,.layout-body__content{
  max-height: 100vh!important;
}


.adding-conditions{
  width: 100%;
  box-sizing: border-box;
  background: #FFFFFF;
  border-radius: 20px 20px 0 0;
  
  view.at-float-layout__container{
    padding-top: 40px;
  }

  .main{
    padding: 0 30px;
  }

  .title{
    padding-top: 40px;
    padding-bottom: 10px;
    line-height: 50px;
    font-weight: 600;
    font-family: PingFangSC-Semibold;
    font-size: 38px;
    color: #333333;
    position: relative;

    .close-wrap {
      width: 88px;
      height: 88px;
      line-height: 88px;
      display: block;
      text-align: center;
      position: absolute;
      right: -30px;
      top: 20px;

      image {
        width: 24px;
        height: 24px;
      }
    }
  }

  .conditions-items{
    min-height: 108px;
    border-bottom:1px solid #E5E5E5;
    position: relative;

    .name{
      font-weight: 600;
      font-family: PingFangSC-Semibold;
      font-size: 28px;
      color: #333333;
      line-height: 108px;
      max-width: 200px;
      position: absolute;
      left: 0;

      .required{
        color: #F1303D;
        display: inline-block;
        margin-left: 10px;
      }
    }

    .value{
      position: absolute;
      right: 48px;
      // font-weight: 300;
      // font-family: MaoYanHeiTi-H1;
      font-size: 28px;
      color: #333333;
      text-align: right;
      line-height: 108px;
    }

    .placeholder{
      width: 100px;
      position: absolute;
      top: 0;
      right: 48px;
      text-align: right;
      line-height: 108px;
    }

    .input{
      position: absolute;
      right: 48px;
      // font-weight: 300;
      // font-family: MaoYanHeiTi-H1;
      font-size: 28px;
      color: #333333;
      text-align: right;
      display: block;
      height: 28px;
      margin-top: 32px;

      .input-placeholder {
        height: 28px;
        font-weight: 400;
        font-family: PingFangSC-Regular;
        font-size: 28px;
        color: #CCCCCC;
      }
    }

    .actor{
      max-width: 556px;
      text-align: right;
      margin-left: 100px;
      padding-top: 24px;

      .star{
        background: #F8F8F8;
        border-radius: 10px;  
        text-align: center;
        display: inline-block;
        margin-right: 10px;
        font-weight:400;
        font-family: PingFangSC-Regular;
        font-size: 26px;
        color: #333333;
        padding: 12px 20px;
        margin-bottom: 10px;
      }
    }

    .arrow{
      @include arrow;
    }

    .unit{
      display: inline-block;
      position: absolute;
      right: 0;
      top: 40px;
      font-weight: 400;
      font-family: PingFangSC-Regular;
      font-size: 28px;
      line-height: 28px;
      color: #333333;
      text-align: right;
    }
  }

  .start-wrap{
    margin-top: 26px;
    height: 164px;
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0 -2px 20px 0 rgba(0,0,0,0.05);
    padding-top: 16px;

    .start-btn{
      background: #276FF0;
      border-radius: 40px;
      height: 80px;
      line-height: 80px;
      text-align: center;
      width: 690px;
      color: #fff;

      &.gray{
        opacity: .4;
      }
    }
  }
}
