@mixin arrow() {
  width: 10px;
  height: 20px;
  display: inline-block;
  background-image: url('../../static/detail/gray.png');
  background-size: 10px 20px;
  // position: absolute;
  // right: 0;
  // top: 42px;
}

.textEval-wrap{
  .table {
    .th, .td{
      &:first-of-type{
        width:190px;
      }

      &:last-of-type{
        width: 460px;
        word-break:break-all;
      }
    }

    .tr-line{
      line-height: 30px;
      padding-bottom: 20px;
      margin-top: 20px;

      .td{
        vertical-align: top;
      }
    }
  } 

  .h5{
    position: relative;
    padding-right: 170px;
  }
  
  .detail{
    font-weight: 400;
    font-family: PingFangSC-Regular;
    font-size: 28px;
    color: #666666;
    text-align: right;
    line-height: 50px;
    position: absolute;
    right: 0;
    top: 0;

    .arrow{
      @include arrow;
    }
  }

  .textarea{
    background: #F8F8F8;
    border-radius: 10px;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    font-weight: 400;
    font-family: PingFangSC-Regular;
    font-size: 24px;
    color: #333333;
    line-height: 36px;
  }
}

.layout-process .at-float-layout__container{
  padding: 40px 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  overflow: hidden;

  .table{
    background: #FFF;
    border-radius: none;
    width: 100%;
  }
  .thead{
    padding: 0 30px;
  }

  .tbody .tr{
    padding: 0 30px;

    &.groupName{
      background: #f8f8f8;
    }
  }
}