.add-project {
  height: 100vh;
  background-color: #f8f8f8;
  box-sizing: border-box;
  padding: 30px 0;
  overflow: scroll;
  .at-input {
    flex: 1;
  }

  .movie-search-loading {
    height: 54px;
    margin-right: 25px;
    .weui-loadmore {
      margin: 0;
      .weui-loading {
        margin: 0;
        margin-right: 5px;
      }
    }
  }

  .m5-grid-item-checked {
    background-color: rgba(24, 144, 255, 0.1)!important;
    border: 1px solid #276FF0;
    box-sizing: border-box;
    .content-inner__text {
      color: rgba(24, 144, 255, 1)!important;
    }
  }

  .divider {
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 4px;
    margin-top: 5px;
    margin-left: 30px;
    margin-right: 30px;

    transform: scaleY(0.5);
  }

  .add-project-confirm {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
    &-btn {
      width: 690px;
      height: 80px;
      margin: 16px 30px;
    
      text-align: center;
      line-height: 80px;
    
      background: #276FF0;
      color: #fff;
      border-radius: 40px;
      font-weight: 600;
      font-family: PingFangSC-Semibold;
      font-size: 30px;
    }
  }
}
