page {
  height: 100%;
  background: #f5f5f5;
  position: relative;
}

page image {
  display: block;
  margin: 0 auto;
}

.assess-create-page {
  .create-wrap {
    background: #FFFFFF;
    border-radius: 40px 40px 0 0;
    padding: 40px 30px 180px 30px;
    .title,.title-input {
      font-size: 38px;
      font-weight: 600;
      color: #333;
      line-height: 50px;
    }
    .edit-btn-wrap {
      display: inline-block;
      vertical-align: middle;
      font-weight: 400;
      margin-left: 10px;
    }
  
    .title-wrap {
      position: relative;
      .title-input {
        box-sizing: border-box;
        border-radius: 2px;
        width: 100%;
        text-align: left;
        margin: 0 auto;
        outline: none;
        caret-color:#276FF0;
        &.error {
          border: 1px solid #f5222d;
        }
      }
    }
    
  
    .desc-wrap {
      position: relative;
      .desc-input {
        box-sizing: border-box;
        background: #F8F8F8;
        border-radius: 10px;
        width: 100%;
        height: 160px;
        font-size: 24px;
        line-height: 36px;
        padding: 14px 20px;
        margin-top: 30px;
      }
      .textarea-placeholder {
        color: #ccc;
      }
    }
  
    .error-tip {
      position: absolute;
      bottom: -24px;
      font-size: 24px;
      line-height: 24px;
      color: #f5222d;
    }
   
    
    .evaluation-method-wrap {
      margin-top: 80px;
      .evaluation-title {
        font-size: 34px;
        line-height: 34px;
        font-weight: 500;
        color: #333;
      }
      .method-list-wrap {
        margin-top: 30px;
        display: flex;
        justify-content: flex-start;
        .method-item {
          width: 216px;
          height: 70px;
          line-height: 70px;
          text-align: center;
          background-color:#F8F8F8;
          border-radius: 10px;
          color: #333;
          font-size: 28px;
          margin-right: 20px;
          &.active {
            background-color: rgba(39,111,240,0.10);
            color: #276FF0;
            font-weight: 500;
          }
          .smarter-iconfont {
            display: inline-block;
            margin-right: 8px;
          }
        }
      }
    }
  
  
    .upload-attachment {
      margin-top: 20px;
      .file-wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #F8F8F8;
        border-radius: 10px;
        padding: 20px;
        margin-bottom: 18px;
        .file-info {
          width: 572px;
          font-size: 0;
          .file-name {
            font-size: 24px;
            line-height: 30px;
            color: #333;
            display: block;
            width: 100%;
            word-break: break-word;
          }
          .file-size {
            font-size: 24px;
            line-height: 24px;
            margin-top: 10px;
            color: #999;
            display: block;
          }
        }
      }
      .upload-btn, .no-need {
        margin-top: 20px;
        width: 100%;
        height: 160px;
        font-size: 28px;
        background: #F8F8F8;
        border: 1px dashed #ccc;
        border-radius: 10px;
        color: #999999;
        display: flex;
        justify-content: center;
        align-items: center;
        &.mini {
          height: 70px;
          color: #333;
        }
      }
    }
  
    .template-select-wrap {
      margin-top: 80px;
      .title {
        font-weight: 500;
        font-family: PingFangSC-Medium;
        font-size: 34px;
        color: #333333;
        line-height: 34px;
        margin-bottom: 30px;
      }
      .template-item {
        width: 100%;
        box-sizing: border-box;
        font-size: 28px;
        line-height: 28px;
        background: #F8F8F8;
        border-radius: 10px;
        padding: 0px 20px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        &.active {
          background: rgba(39,111,240,0.10);
          color: #276FF0;
          font-weight: 600;
          border: 1px solid #276FF0;
        }
        .template-name {
          padding: 20px 0;
          width: 560px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .preview-btn {
          padding: 20px 0;
          color: #276FF0;
          font-weight: 600;
        }
      }
    }


    .endtime-wrap {
      margin-top: 80px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 30px;
      .title {
        font-weight: 500;
        font-size: 34px;
        color: #333333;
        line-height: 34px;
      }
      .time {
        float: right;
        font-weight: 400;
        font-size: 28px;
        color: #333333;
        text-align: right;
        line-height: 28px;
      }
    }
  
    .uplaod-action-sheet {
      .at-action-sheet__container {
        border-radius: 20px 20px 0 0;
      }
    }
    .file-select-list {
      .at-float-layout__container {
        height: 85% !important;
        max-height: 85%;
      }
      .layout-header {
        background: #fff;
      }
      .layout-header__title {
        font-size: 38px;
        line-height: 50px;
        font-weight: 600;
      }
  
      .content-wrap {
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
      }
      .file-item-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 60px;
        .left-info-wrap {
          padding-right: 30px;
          word-break: break-all;
          width: 540px;
          flex-shrink: 0;
          .file-name {
            font-size: 30px;
            line-height: 40px;
            color: #333;
          }
          .message {
            font-size: 24px;
            line-height: 24px;
            margin-top: 16px;
            color: #999;
            .uploader {
              margin-right: 10px;
            }
            .upload-time {
              margin-right: 40px;
            }
          }
        }
  
        .select-btn {
          box-sizing: border-box;
          width: 120px;
          height: 60px;
          font-size: 26px;
          line-height: 60px;
          color: #fff;
          background:  #276FF0;
          border: none;
          border-radius: 30px;
          padding: 0;
          &.selected {
            border: 1px solid #276FF0;
            background: #fff;
            color:#276FF0;
          }
        }
      }
  
      .btn-wrap {
        width: 100%;
        height: 164px;
        background: #FFFFFF;
        box-shadow: 0 -2px 20px 0 rgba(0,0,0,0.05);
        position: absolute;
        bottom: 0;
        left: 0;
        .select-sure-btn {
          width: 690px;
          background: #276FF0;
          border-radius: 40px;
          color: #fff;
          font-size: 30px;
          line-height: 80px;
          text-align: center;
          padding: 0;
          margin-top: 16px;
          &:active, &:visited {
            background: #276FF0;
          }
        }
      }
      
    }
  }
}

