.mainOutput{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 36px;
  border: 1px solid rgba(241,48,61,1);
  border-radius:4px;
  margin-right: 4px;
  margin-top: 4px;
  font-size:22px;
  font-weight:400;
  color:#f1303d;
}
.mainPublish {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 36px;
  border: 1px solid rgba(255,144,52,1);
  border-radius:4px;
  margin-right: 4px;
  margin-top: 4px;
  font-size:22px;
  font-weight:400;
  color:#FF9034;
}
.products {
  display: inline-block;
  width: 64px;
  height: 36px;
  border: 1px solid rgba(19,194,194,1);
  border-radius:4px;
  margin-right: 4px;
  margin-top: 4px;
  text-align: center;
  line-height: 34px;
  font-size:22px;
  font-weight:400;
  color:#13C2C2;
}
.issue {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 36px;
  border: 1px solid rgba(255,144,52,1);
  border-radius:4px;
  margin-right: 4px;
  margin-top: 4px;
  font-size:22px;
  font-weight:400;
  color:#FF9034;
}
.unionPublish {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 36px;
  border: 1px solid rgba(255,144,52,1);
  border-radius:4px;
  margin-right: 4px;
  margin-top: 4px;
  font-size:22px;
  font-weight:400;
  color:#FF9034;
}
.nionOutput {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 36px;
  border: 1px solid rgba(255,144,52,1);
  border-radius:4px;
  margin-right: 4px;
  margin-top: 4px;
  font-size:22px;
  font-weight:400;
  color:#FF9034;
}