.custom-project {
    margin: 20px 30px;
  
    &-name {
      color: #276FF0;
      font-weight: 600;
      font-family: PingFangSC-Semibold;
      font-size: 28px;
      color: #276FF0;
      line-height: 28px;
    }
  }