.no-permission{
  text-align: center;

  .title{
    font-size: 40px;
    line-height: 80px;
    margin: 40px auto;
  }

  .content{
    font-size: 32px;
    line-height: 40px;
  }
}

.result{
  height: 100vh;

  .result-cont{
    background: #FFFFFF;
    border-radius: 40px 40px 0 0;
    position: relative;
    top: -40px;
    box-sizing: border-box;
    padding: 10px 30px 120px;

    .result-comp-box{
      & > view{
        margin-bottom: 80px;
      }
    }

    .tip{
      font-weight: 400;
      font-family: PingFangSC-Regular;
      font-size: 24px;
      color: #FD9C00;
      text-align: center;
      line-height: 36px;
      margin-top: 20px;
    }

    .h2{
      font-weight: 600;
      font-family: PingFangSC-Semibold;
      font-size: 38px;
      color: #333333;
      line-height: 50px;
      text-align: center;
      margin: 30px 0 52px;
    }

    .h5{
      font-weight: 500;
      font-family: MaoYanHeiTi-H1 PingFangSC-Medium;
      font-size: 34px;
      color: #333333;
      line-height: 50px;
      margin-bottom: 22px;
    }

    .p{
      background: #F8F8F8;
      border-radius: 10px;
      line-height: 148px;
      width: 690px;
      margin:0 auto 72px;
      font-weight: 400;
      opacity: 0.5;
      font-family: PingFangSC-Regular;
      font-size: 28px;

      color: #333333;
      text-align: center;
    }
  }
}