.project-briefinfo-component {
  box-sizing: border-box;
  width: 100%;
  height: 132px;
  overflow: hidden;
  display: flex;
  padding: 0 30px;
  justify-content: space-between;

  .info-wrap {
    display: flex;
    align-items: flex-start;
    margin-top: 20px;
    .project-img {
      width: 60px;
      height: 82px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      border-radius: 8px;
      background-color: #ccc;
    }
    .info {
      margin-left: 20px;
      color: #333333;
      .project-name {
        font-weight: 500;
        font-size: 34px;
        line-height: 34px;
        margin-top: 6px;
      }
      .project-text {
        font-weight: 400;
        font-size: 24px;
        line-height: 24px;
        margin-top: 12px;
      }
    }
  }
 
  .number-text {
    font-family: MaoYanHeiTi-H1;
    font-size: 150px;
    line-height: 150px;
    color: rgba(39,111,240,.2);
    font-weight: 600;
  }
}