.filmDetailList {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 40px 30px 60px;
  font-family: PingFangSC-Regular;
  color: #333;
  background: #FFF;
  border-radius: 20px 20px 0 0;
  z-index: 71;
  box-sizing: border-box;
}

.filmDetailList .title {

  .title-top{
    height: 40px;
    line-height: 40px;
    text-align: center;
    position: relative;
    margin-bottom: 28px;

    .close-wrap {
      width: 88px;
      height: 88px;
      line-height: 88px;
      position: absolute;
      left: -24px;
      top: -24px;
      text-align: center;

      image {
        width: 28px;
        height: 28px;
      }
    }

    .num {
      font-family: MaoYanHeiTi-H1;
    }

    .schedule{
      border-radius: 28px;
      width: 172px;
      height: 100%;
      color: #fff;
      display: inline-block;
      font-weight: 400;
      font-size: 22px;
      position: absolute;
      right: 0;
      box-sizing: border-box;

      &.already{
        text-align: left;
        padding-left: 16px;
        background: #276FF0;

        &:after{
          content: "";
          height: 32px;
          width: 32px;
          border-radius: 50%;
          background-color: #fff;
          display: inline-block;
          position: absolute;
          right: 4px;
          top: 4px;
        }
      }

      &.notYet{
        text-align: right;
        padding-right: 16px;
        background: #ccc;

        &:before{
          content: "";
          height: 32px;
          width: 32px;
          border-radius: 50%;
          background-color: #fff;
          display: inline-block;
          position: absolute;
          left: 4px;
          top: 4px;
        }
      }
    }
  }

  .title-bottom{
    margin-bottom: 50px;

    &>view{
      background: #EEE;
      border-radius: 10px;
      width: 335px;
      display: inline-block;
      text-align: center;
      padding: 20px;
      box-sizing: border-box;

      &:last-of-type{
        margin-left: 20px;
      }

      .p{
        font-weight: 400;
        font-size: 24px;
        color: #333333;
        text-align: center;
        line-height: 36px;
        margin-bottom: 10px;
      }

      .val{
        .detailVal{
          font-family: MaoYanHeiTi-H1;
          font-size: 46px;
          color: #333333;
          text-align: center;
          line-height: 46px;
        }
  
        .unit{
          font-size: 24px;
        }
      }

      .maybe{
        font-weight: 400;
        font-family: PingFangSC-Regular;
        font-size: 24px;
        color: #666666;
        text-align: center;
        margin-top: 20px;
        height: 33px;
        line-height: 33px;
      }
    }
  }
}


.filmDetailList .title text:first-child {
  margin-right: 10px;
}




.filmDetailList .film-list .item {
  display: flex;
  font-size: 24px;
  color: #666666;
  margin-bottom: 60px;
}

.filmDetailList .film-list .item image {
  width: 100px;
  height: 140px;
  border: 2px solid rgba(0, 0, 0, 0.08);
  margin-right: 24px;
}

.film-list .item:last-child {
  margin-bottom: 0 !important;
}

.main .firstLine {
  display: flex;
  justify-content: space-between;
}

.main .firstLine .name {
  width: 339px;
  font-weight: bold;
  font-family: PingFangSC-Medium;
  font-size: 34px;
  color: #333333;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.main .secondLine {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 7px;
}

.main .secondLine .left .director {
  width: 339px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-top: 10px;
}

.thirdLine {
  display: flex;
}

.thirdLine text {
  margin-right: 10px;
}

.yello {
  width: 232px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: right;
  font-size: 24px;
  color: #FF9034;
}

.yello text:first-child {
  font-size: 34px;
  font-family: MaoYanHeiTi-H1;
}

.wishNum {
  width: 230px;
  text-align: right;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 24px;
  white-space: nowrap;
}

.noMore {
  height: 90px;
  line-height: 150px;
  text-align: center;
  font-size: 24px;
  color: #999999;
}