page {
  height: 100%;
  background: linear-gradient(135deg, rgba(121, 140, 186, 1) 0%, rgba(49, 68, 115, 1) 100%);
  position: relative;
}

page image {
  display: block;
  margin: 0 auto;
}

.logo {
  width: 170px;
  height: 100px;
}

.slogan {
  width: 534px;
  height: 190px;
  margin-top: 92px;
}

.show {
  width: 600px;
  margin: 60px auto 0;
  background-size:100% !important;
  background-repeat: no-repeat !important;
  background:url(https://s3plus.sankuai.com/v1/mss_9eaf0fc6924b4158a44b25c3a45543f4/sc-cdn/applet-open-screen.png);
  border-radius: 20px;
}

view.welcome button.login-btn {
  width: 600px;
  height: 90px;
  line-height: 90px;
  background: rgba(24, 144, 255, 1);
  border-radius: 10px;
  position: fixed;
  bottom: 150px;
  left: 50%;
  transform: translate(-50%, 0);
  font-size: 32px;
  font-weight: bold;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  padding: 0;
  border: none;
}

view.welcome button.login-btn-hover{
  background: rgba(24, 144, 255, 1);
  color: rgba(255, 255, 255, 1);
}

.stopLogin {
  color: rgb(189, 199, 223);
  font-size: 27px;
  width: 100%;
  text-align: center;
  margin: 190px auto 0;
}