@font-face {
  font-family: "smarter-iconfont"; /* Project id 2353696 */
  src: url('iconfont.woff2?t=1620288046130') format('woff2'),
       url('iconfont.woff?t=1620288046130') format('woff'),
       url('iconfont.ttf?t=1620288046130') format('truetype');
}

.smarter-iconfont {
  font-family: "smarter-iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-operate:before {
  content: "\e62c";
}

.icon-delete:before {
  content: "\e62b";
}

.icon-dagang:before {
  content: "\e627";
}

.icon-edit:before {
  content: "\e628";
}

.icon-chengpian:before {
  content: "\e629";
}

.icon-juben:before {
  content: "\e62a";
}

