.radio-wrap {
  .ques-title {
    font-weight: 500;
    font-family: PingFangSC-Medium;
    font-size: 34px;
    color: #19233B;
    letter-spacing: 0;
    line-height: 34px;
    margin-bottom: 20px;
  }
  .list-wrap{
    padding-top: 16px;
    margin-bottom: 0;

    .list-item{
      border-radius: 2px;
      font-weight: 400;
      font-size: 28px;
      line-height: 40px;
      color: #19233C;
      text-align: left;
      padding: 24px 20px;
      margin-bottom: 10px;
      border-radius: 2rpx;
      display: flex;
      align-items: center;

      &.preview{
        color: #C1C6D0;
        background-color: #F8F8F8;

        .dot{
          background: #F6F6F6;
          border: 1px solid #DCE2ED;
        }
      }

      .dot {
        display: inline-block;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 1px solid #C1C6D0;
        vertical-align: middle;
        margin-right: 20px;
        background-color: #fff;
      }
      .text {
        display: inline-block;
        vertical-align: middle;
      }

      &.active{
        color: #1890FF;

        b.dot {
          border-color: #1890FF;
          position: relative;

          &:after {
            content: '';
            width: 8px;
            height: 8px;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: #1890FF;
          }
        }
      }
    }
  }
}