.film-market-component {
  .at-float-layout__container {
    height: 85% !important;
    max-height: 85%;
  }
  .no-estimate-box-list {
    margin-top: 30px;
    .title-text {
      font-weight: 400;
      font-size: 24px;
      color: #999999;
      line-height: 24px;
      margin-bottom: 10px;
    }
  }
}

.film-market-component .title {

  .title-top{
    height: 40px;
    line-height: 40px;
    text-align: left;
    position: relative;
    margin-bottom: 28px;

    .num {
      font-weight: 400;
      font-size: 24px;
      color: #333333;
      line-height: 36px;
    }

    .schedule{
      border-radius: 28px;
      width: 172px;
      height: 100%;
      color: #fff;
      display: inline-block;
      font-weight: 400;
      font-size: 22px;
      position: absolute;
      right: 0;
      box-sizing: border-box;

      &.already{
        text-align: left;
        padding-left: 16px;
        background: #276FF0;

        &:after{
          content: "";
          height: 32px;
          width: 32px;
          border-radius: 50%;
          background-color: #fff;
          display: inline-block;
          position: absolute;
          right: 4px;
          top: 4px;
        }
      }

      &.notYet{
        text-align: right;
        padding-right: 16px;
        background: #ccc;

        &:before{
          content: "";
          height: 32px;
          width: 32px;
          border-radius: 50%;
          background-color: #fff;
          display: inline-block;
          position: absolute;
          left: 4px;
          top: 4px;
        }
      }
    }
  }

  .overview {
    margin-bottom: 50px;
    display: flex;
    .cur-week-data {
      width: 336px;
      background: #F8F8F8;
      padding: 0 20px;
      margin-right: 20px;
      .predict-panel, .onshow-number {
        padding-top: 20px;
        padding-bottom: 20px;
      }
      .predict-panel {
        border-bottom: 1PX solid #E5E5E5;
      }
      .title {
        font-weight: 400;
        font-size: 24px;
        color: #333333;
        line-height: 28px;
      }
      .val {
        font-weight: 400;
        color: #333333;
        line-height: 46px;
        margin-top: 16px;
        .detailVal {
          font-size: 36px;
          font-family: MaoYanHeiTi-H1;
          font-weight: 600;
        }
        .unit {
          font-size: 24px;
        }
      }
      .maybe {
        font-weight: 400;
        font-size: 20px;
        color: #999999;
        line-height: 24px;
        margin-top: 10px;
      }
    }
    
  }
}


.film-market-component .title text:first-child {
  margin-right: 10px;
}





.film-market-component .film-list .item {
  display: flex;
  font-size: 24px;
  color: #666666;
  padding: 30px 0;
  position: relative;
  .number-label-component {
    top: 30px;
    border-radius: 10px 0 10px 0;
  }
}

.film-market-component .film-list .item image {
  width: 100px;
  height: 140px;
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  margin-right: 24px;
}

.film-list .item:last-child {
  margin-bottom: 0 !important;
}

.main .firstLine {
  display: flex;
  justify-content: space-between;
}

.main .firstLine .name {
  width: 339px;
  font-weight: bold;
  font-family: PingFangSC-Medium;
  font-size: 34px;
  color: #333333;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.main .secondLine {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 7px;
}

.main .secondLine .left .director {
  width: 339px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-top: 10px;
}

.thirdLine {
  display: flex;
}

.thirdLine text {
  margin-right: 10px;
}

.yello {
  width: 232px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: right;
  font-size: 24px;
  color: #FF9034;
}

.yello text:first-child {
  font-size: 34px;
  font-family: MaoYanHeiTi-H1;
}

.wishNum {
  width: 230px;
  text-align: right;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 24px;
  white-space: nowrap;
}

.noMore {
  height: 90px;
  line-height: 150px;
  text-align: center;
  font-size: 24px;
  color: #999999;
}