.cooper-status {
  .at-float-layout__container {
    padding: 0 !important;
  }
  .layout-body {
    padding: 40px 30px 98px !important;
    box-sizing: border-box;
  }
  .title {
    display: flex;
    justify-content: space-between;
    height: 50px;
    font-weight: 600;
    font-family: PingFangSC-Semibold;
    font-size: 38px;
    color: #333333;
    line-height: 50px;
    margin-bottom: 40px;
    .img {
      width: 80px;
      height: 80px;
      text-align: center;
      image {
        width: 28px;
        height: 28px;
        vertical-align: middle;
      }
    }
  }
  .cooper-item {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .item {
      position: relative;
      display: inline-block;
      text-align: center;
      width: 48.5%;
      height: 120px;
      line-height: 120px;
      border-radius: 10px;
      font-weight: 600;
      font-family: PingFangSC-Semibold;
      font-size: 30px;
      margin-bottom: 20px;
    }
    .active::after {
      content: '';
      position: absolute;
      top: 4px;
      right: 4px;
      display: block;
      width: 52px;
      height: 48px;
      z-index: 99;
      background: url('../../static/detail/active.svg');
    }
  }
  .confirm {
    width: 100%;
    height: 80px;
    line-height: 80px;
    margin-top: 52px;
    background: #276FF0;
    border-radius: 40px;
    font-weight: 600;
    font-family: PingFangSC-Semibold;
    font-size: 30px;
    color: #FFFFFF;
    text-align: center;
  }
}