.people {
  .at-float-layout__container {
    padding: 0 !important;
    height: 85% !important;
    max-height: 85%;
  }
  .layout-body__content {
    max-height: 100% !important;
    min-height: 0 !important;
  }
  .layout-body {
    padding: 40px 30px 30px !important;
    box-sizing: border-box;
  }
  .title {
    display: flex;
    justify-content: space-between;
    height: 50px;
    font-weight: 600;
    font-family: PingFangSC-Semibold;
    font-size: 38px;
    color: #333333;
    line-height: 50px;
    margin-bottom: 20px;
    .img {
      width: 80px;
      height: 80px;
      text-align: center;
      image {
        width: 28px;
        height: 28px;
        vertical-align: middle;
      }
    }
  }
  .people-item {
    // padding-bottom: 350px;
    .scroll {
      width: 100%;
      height: 65vh;
      box-sizing: border-box;
    }
    .item {
      position: relative;
      display: flex;
      align-items: center;
      width: 100%;
      height: 134px;
      padding: 27px 0 !important;
      box-sizing: border-box;
      .item-left {
        width: 80px;
        height: 80px;
        margin-right: 20px;
      }
      .crown {
        position: relative;
        overflow: visible;
      }
      .crown::after {
        content: '';
        display: block;
        position: absolute;
        top: -15px;
        right: -15px;
        width: 46px;
        height: 46px;
        background-image: url('../../static/detail/crown.png');
        background-repeat: no-repeat;
        background-size: 46px 46px;
        background-position: left top;
        z-index: 103;
      }
      .item-right {
        .name {
          font-weight: 600;
          font-family: PingFangSC-Semibold;
          font-size: 30px;
          color: #333333;
        }
        .describe {
          font-weight: 400;
          font-family: PingFangSC-Regular;
          font-size: 24px;
          color: #999999;
        }
      }
      .last {
        position: absolute;
        top: 0;
        right: -30px;
        width: 85px;
        height: 100%;
        margin-left: 11px;
        margin-top: 45px;
        image {
          width: 44px;
          height: 44px;
        }
      }
    }
  }
  .nameModal {
    .at-modal__container {
      width: 92%;
      border-radius: 20px;
    }
    .name-title {
      position: relative;
      font-weight: 600;
      font-family: PingFangSC-Semibold;
      font-size: 38px;
      color: #333333;
      .right-image {
        position: absolute;
        top: 0;
        right: 0;
        width: 60px;
        height: 60px;
        image {
          width: 24px;
          height: 24px;
        }
      }
    }
    .name-input {
      margin-top: 30px;
      margin-bottom: 40px;
      width: 100%;
      height: 96px;
      padding: 0 30px;
      background: #F8F8F8;
      border-radius: 20px;
      font-weight: 400;
      font-family: PingFangSC-Regular;
      font-size: 30px;
      box-sizing: border-box;
    }
    .name-confirm {
      width: 100%;
      height: 80px;
      line-height: 80px;
      text-align: center;
      background: #276FF0;
      border-radius: 40px;
      font-weight: 600;
      font-family: PingFangSC-Semibold;
      font-size: 30px;
      color: #FFFFFF;
      box-sizing: border-box;
    }
  }
}