.page-content {
  .detail-top {
    position: fixed;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    background: white;
    z-index: 100;
    .header {
      position: relative;
      height: 70rpx;
      line-height: 70rpx;
      width: 100%;
      text-align: center;
      .header-title {
        font-weight: 500;
        font-family: PingFangSC-Medium;
        font-size: 36px;
        color: #19233B;
      }
    }
    .backPage {
      position: absolute;
      left: 28px;
      width: 80px;
      image {
        width: 44px;
        height: 44px;
        vertical-align: middle;
      }
    }

    .top {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      background-image: linear-gradient(180deg, rgba(0,0,0,0.00) 0%, rgba(0,0,0,0.06) 100%);
    }
  }
  .list-header {
    height: 24px;
    display: flex;
    padding: 30px;
    border-bottom: 1px #E9E9E9 solid;
    .list-header-left {
      width: 48px;
      height: 24px;
      font-weight: 400;
      font-family: PingFangSC-Regular;
      font-size: 24px;
      color: #999999;
      line-height: 24px;
    }
    .list-header-middle {
      width: 96px;
      height: 24px;
      font-weight: 400;
      font-family: PingFangSC-Regular;
      font-size: 24px;
      color: #999999;
      text-align: right;
      line-height: 24px;
      margin-left: 390px;
    }
    .list-header-right {
      font-weight: 400;
      font-family: PingFangSC-Regular;
      font-size: 24px;
      color: #999999;
      width: 96px;
      height: 24px;
      line-height: 24px;
      margin-left: 60px;
    }
  }
  .list {
    height: 30px;
    padding: 30px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    .list-index {
      height: 24px;
      font-family: MaoYanHeiTi-H1;
      font-size: 24px;
      color: #999999;
      line-height: 24px;
      top: 0px;
    }
    .index-0 {
      color: #F1303D;
    }
    .inde-1 {
      color: #FD9C00;
    }
    .index-2 {
      color: #88A6DA;
    }
    .list-city {
      width: 393px;
      height: 28px;
      font-weight: 400;
      font-family: PingFangSC-Regular;
      font-size: 28px;
      color: #333333;
      line-height: 28px;
      margin-left: 35px;
      top: 0px;
    }
    .list-money {
      width: 96px;
      height: 30px;
      font-weight: 300;
      font-family: 'MaoYanHeiTi-Light';
      font-size: 28px;
      color: #F1303D;
      text-align: right;
      line-height: 30px;
      white-space: nowrap;
    }
    .list-percentage {
      width: 96px;
      height: 30px;
      font-weight: 300;
      font-family: 'MaoYanHeiTi-Light';
      font-size: 28px;
      color: #333333;
      text-align: right;
      line-height: 30px;
      margin-left: 60px;
    }
  }

  .empty-list {
    width: fit-content;
    margin: auto;
    margin-top: 20rpx;
  }
}
