.number-label-component {
  width: 40px;
  color: #fff;
  font-size: 24px;
  line-height: 24px;
  font-family: MaoYanHeiTi-H1;
  padding: 8px 0;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  text-align: center;
  background: rgba(0,0,0,.6);
}