.gapFilling-text {
  .ques-title {
    font-weight: 500;
    font-family: PingFangSC-Medium;
    font-size: 34px;
    color: #19233B;
    letter-spacing: 0;
    line-height: 34px;
    margin-bottom: 20px;
  }
  .fill-textarea{
    min-height: 90px;
    background: #F8F8F8;
    border-radius: 10px;
    width: 100%;
    box-sizing: border-box;
    font-weight: 400;
    font-size: 28px;
    color: #8B94A6;
    text-align: left;
    line-height: 36px;
    margin: 0 auto;
    display: block;
    outline: none;
    resize: vertical;
    padding: 20px 14px;

    &.preview{
      background: #F6F6F6;
      &::placeholder{
        color: #CCCCCC;
      }
    }
  }
}